footer.page-footer.grey.lighten-3
      .container
        .row
          .col.l6.s12
            h5.black-text
              b  TYRST ® 
            p.grey-text.text-darken-3
              | Created, designed and developed by Marc Rosell
              br
              |  2017 Copyright
          .col.l4.offset-l2.s12
            ul
              li
                a.grey-text.text-accent-2(href='#intro ') register
              li
                a.grey-text.text-accent-2(href='#team ') how it works
              li
                a.grey-text.text-accent-2(href='#! ') facebook
              li
                a.grey-text.text-accent-2(href='#! ') instagram
      .footer-copyright.grey.lighten-3