body#top.scrollspy(ng-cloak)
    // Pre Loader
    #loader-wrapper
      #loader
      .loader-section.section-left
      .loader-section.section-right
    // Navigation
    if user
      .navbar-fixed
        nav#nav_f.default_color(role='navigation')
          .container
            .nav-wrapper
              a#logo-container.brand-logo.filters.center.valign-wrapper(href='/')
                img.logo(src='img/logo.png')
              ul.left.hide-on-med-and-down
                form#search(action='/search', method='post')
                  li#openSearch
                    .input-field.inputsNavDiv
                      input#search(type='search', name='search', required='true', autofocus='')
                      label.label-icon(placeholder='WHAT?', for='search')
                        i.material-icons search
                  li.hidedFilters
                    .input-field.inputsNavDiv
                      input#search(type='search', placeholder='location', name='location', value = '', required='', autofocus='')
                      label.label-icon(for='search')
                        i.material-icons location_on
                  li.hidedFilters
                    .input-field.inputsNavDiv
                      input#search.form-control.input-field(type='search', required='', autofocus='', ng-model='ctrl.input ', ng-model-options="{ updateOn: 'blur' } ", locale='ca ', format='LT DD/MM ', min-view='year ', placeholder='time ', _moment-picker='ctrl.input ', value = '', name='time')
                      label.label-icon(for='search ')
                          i.material-icons access_time
                  li.hidedFilters
                    .input-field.inputsNavDiv
                      select(name='category')
                        option#search.grey-text(value='', selected=' ') category
                        option#search(value='health') health
                        option#search(value='beautyCare') beautyCare
                        option#search(value='vestry') vestry
                        option#search(value='restoration') restoration
                        option#search(value='motor') motor
                        option#search(value='animals') animals
                        option#search(value='kindergarten') kindergarten
                        option#search(value='other') other
                      label.label-icon(for='search ')
                        i.material-icons dehaze
              ul.right.hide-on-med-and-down
                li
                  a.userNav(href='#', data-activates='slide-out', show-on-large='')
                    i.tiny.material-icons.right.iUser person
                    span.filters #{user.firstname}
              ul#nav-mobile.side-nav
                li
                  a(href='#intro ') Service
                li
                  a(href='#work ') Work
                li
                  a(href='#team ') Team
                li
                  a(href='#contact ') Contact
                li
                  a(href='https://github.com/joashp/material-design-template ', target='_blank ') Download
              a.button-collapse(href='# ', data-activates='nav-mobile ')
                i.mdi-navigation-menu
    else
      .navbar-fixed
        nav#nav_f.default_color(role='navigation')
          .container
            .nav-wrapper
              a#logo-container.brand-logo.filters.center.valign-wrapper(href='/')
                img.logo(src='img/logo.png')
              ul.left.hide-on-med-and-down
                form#search(action='/search', method='post')
                  li#openSearch
                    .input-field.inputsNavDiv
                      input#search(type='search', name='search', required='true', autofocus='')
                      label.label-icon(placeholder='WHAT?', for='search')
                        i.material-icons search
                  li.hidedFilters
                    .input-field.inputsNavDiv
                      input#search(type='search', placeholder='location', name='location', value = '', required='', autofocus='')
                      label.label-icon(for='search')
                        i.material-icons location_on
                  li.hidedFilters
                    .input-field.inputsNavDiv
                      input#search.form-control.input-field(type='search', required='', autofocus='', ng-model='ctrl.input ', ng-model-options="{ updateOn: 'blur' } ", locale='ca ', format='LT DD/MM ', min-view='year ', placeholder='time ', _moment-picker='ctrl.input ', value = '', name='time')
                      label.label-icon(for='search ')
                          i.material-icons access_time
                  li.hidedFilters
                    .input-field.inputsNavDiv
                      select(name='category')
                        option#search.grey-text(value='', selected=' ') category
                        option#search(value='health') health
                        option#search(value='beautyCare') beautyCare
                        option#search(value='vestry') vestry
                        option#search(value='restoration') restoration
                        option#search(value='motor') motor
                        option#search(value='animals') animals
                        option#search(value='kindergarten') kindergarten
                        option#search(value='other') other
                      label.label-icon(for='search ')
                        i.material-icons dehaze
              ul.right.hide-on-med-and-down
                li
                  a(href='/#register')
                    span.filters Register
                li
                  a(onclick='openNav()')
                    span.filters Sign In
              ul#nav-mobile.side-nav
                li
                  a(href='#intro ') Service
                li
                  a(href='#work ') Work
                li
                  a(href='#team ') Team
                li
                  a(href='#contact ') Contact
                li
                  a(href='https://github.com/joashp/material-design-template ', target='_blank ') Download
              a.button-collapse(href='# ', data-activates='nav-mobile ')
                i.mdi-navigation-menu