script(type='text/javascript ', src='https://code.jquery.com/jquery-3.2.1.min.js ')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js', type='text/javascript')

// Scripts
script(src='min/plugin-min.js ')
script(src='min/custom-min.js ')
script(src='js/render.js')
script(src='js/app.js')