script(type='text/javascript ', src='https://code.jquery.com/jquery-3.2.1.min.js ')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js ', type='text/javascript ')
// Scripts
script(src='min/plugin-min.js ')
script(src='min/custom-min.js ')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js')
script(src='https://rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.js')
script(src='js/calendar.js')
script(src='js/render.js')