link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css')
link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/icon?family=Material+Icons')
link(href='https://cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css', rel='stylesheet')
link(rel='stylesheet', href='css/style.css')
link(rel='icon', href='img/favicon.ico', type='image/x-icon')