.partnering {
    background-color: lightgray;
    margin: 10%;
    padding: 10%;
}

.card-action{
    overflow:hidden;
    text-overflow:ellipsis;
}

.config {
    margin-left: 200px;
    background-color: white;
    margin: 10%;
    padding: 10%;
}

.partnerin2 {
    background-color: lightgray;
    margin: 1%;
    margin-top: 3%;
    padding: 5%;
}

.inputImg{
    color: white;
    border-bottom: 0px !important;
}

.nav-wrapper .brand-logo img {
  height: 60px;
}

a{
    color: black;
}
.card .card-action p{
    color: grey;
}

#localizationBox {
    height: 100%;
}

#appointBox {
    height: 100%;
    padding: 5%;
    padding-bottom: 0%;
}
nav {
    background-color: black;
    height: 63px;
}

.filt {
    box-shadow: none;
}


.backgroundSearch .all {
    padding-top: 1%;
    padding-bottom: 5%;


}

nav ul li:hover {
   background-color: white;
}
nav ul li span:hover {
   background-color: black;
   color: white;
}

nav ul li a span {
    display: inline;
}

#search {
    color: black;
}

.backgroundSearch .row .row{
    margin-left: 0.5%;
}

.backgroundSearch .row{
    margin-left: 1%;
}

.backgroundSearch {
    background-image: linear-gradient(120deg, #FFFEFF 0%, #ebedee 100%);
    height: 100vh;
border-bottom: 1px solid lightgray;

}

.card.horizontal {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 150px;
        overflow: hidden;
        box-shadow: none; border: 0px solid white; opacity: 1;
        border-radius: 5px;
}

.card.horizontal:hover {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        max-height: 150px;
        overflow: hidden;
        box-shadow: #fababa -7px 7px 0px;
        border: 1px solid lightgray;
        opacity: 1;
}


.card .card-content {
    padding-top: 0px;
    padding-bottom: 0px;
}

.card .descripCard{
    padding: 0px;
}

.card .card-action {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;

}

.card-image img{
    height: 100%;
    max-width: 150px;
    overflow: hidden;
}


.descriptionImg {
    background-image: url('../img/bg.jpg');
    background-position: center; 
    height: 200px;
    width: 100%;
    margin: 0px;
    background-position: center; 
    position: relative;
}


.navbar-fixed {
    margin-bottom: 0%;
    height: 70px;

}
.btn-flat {
    float: right;
}



.btn-flat:focus {
    background-color: pink;
}

.input-field label {
 color: #000;
}

.input-field input[type=text]:focus + label {
 color: #000;
}

.input-field input[type=text]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=email]:focus + label {
 color: #000;
}

.input-field input[type=email]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=password]:focus + label {
 color: #000;
}

.input-field input[type=password]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

div.rela {
    position: relative;
    left: 30px;
    top: 10px;
    height: 200px;
    width: 400px;
    background-color: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding: 1%;
}

div.fondo {
    position: static;
    height: 280px;
    width: 100px;
    background-image: linear-gradient(to top, #FFEF88 0%, #FFEF88 99%, #FFEF88 100%);
}

.backgroundImgUser{
 background-image: linear-gradient(to top, #feada6 0%, #facfff 99%, #faefef 100%);
 padding-top: 10%;


}

div.fondo2 {
    position: static;
    background-image: linear-gradient(to top, #FFEF88 0%, #FFEF88 99%, #FFEF88 100%);
}

div.fondo3 {
    position: static;
    height: 330px;
    background-image: linear-gradient(to top, #FFEF88 0%, #FFEF88 99%, #FFEF88 100%);
}
nav .input-field label i{
    color: #000 !important;
}

.queryShot {
    display: block;
    width: 75%;

}

.searchShot {
    display: block;
    width: 110%;

}

.input-field input[type=search] {
    display: inline;
}


.default_color {
    background-color: #FFF !important;
}

.default_color_text {
    color: #000 !important
}

.icon-block {
    padding: 0 15px;
}



#intro,
#work {
    padding-top: 4rem;
}

.banner {
    min-height: 632px;
    height: 100vh;
    background-image: linear-gradient(21deg, #000 44%, #ff77a1 0%, #feff00 100%);
    z-index:1;
    position: fixed;
    width: 100%;
}

.banner-post {
    min-height: 632px;
    height: 100vh;
    background-image: linear-gradient(21deg, #000 44%, #ff78a1 0%, #feff40 100%);
    z-index: -1;
    position: fixed;
    width: 100%;
}

#nav_f {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.text_h {
    padding: 15% 0;
    font-size: 6.0em;
    font-weight: 100;
    color: white;
}

.brand-logo {
    position: absolute;
    color: #000;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
}

.text_h2 {
    font-weight: 100;
    margin-bottom: 4%;
    line-height: 4.5rem;
}

.text_h3 {
    font-weight: 100;
    margin-bottom: 4%;
    line-height: 4.5rem;
}

.span_h2 {
    font-weight: 300;
    color: pink;
}

.text_b {
    color: black;
}

.in { 
    font-weight: 400 !important;
    font-style: normal !important;
}

.promo i {
    color: #2196F3;
    font-size: 7rem;
    display: block;
}

#work{ 
}

.text_pink {
    color: #EF9A9A;
}

@media (max-width: 800px){
 .reserve {
          background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
          overflow:auto;

}
}

@media (min-width: 800px){
    .reserve {
          background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
          width: 55%;
          height: 610px;
          float: right;
          position: fixed;
          padding: 20px;
          overflow:auto;

    }
}  



nav ul a {
    font-size: 1.2rem;
    color: #000;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}

nav ul a.hoover {
    font-size: 1.2rem;
    color: #EF9A9A;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}
.moment-picker td.selected {
    background-image: linear-gradient(#000,#000);
}

.justifyText{
        text-align: justify;
    text-justify: inter-word
}
.cd-headline.type .cd-words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 60%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
    width: 0px;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 0s infinite;
}

.cd-headline.type .cd-words-wrapper.selected {
    opacity: 0%;
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: show;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: #000;
}

.cd-headline.type b {
    visibility: hidden;
}

.cd-headline.type b.is-visible {
    visibility: visible;
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}

.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}


/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    /* change if the mask should have another color then white */
    z-index: 1200;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(../img/status.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

input,
textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}

.card .card-content p {
    margin: 15px 0px;
}

footer.page-footer {
    margin-top: 70px !important;
    border-top: 1px solid lightgray; 
}


footer.footer-copyright {
    height: 1%;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
#innerDescrptionBox {
     height: 300px;

}


#cardProfile {
    padding-left: 0px;
    height: 500px;
}

.card {
  overflow: visible;
}

.profile-pic {
  margin-top: -6em;
  z-index: 1;
  position: relative;
}

.imgLogo {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  max-width: 100px;
}
.profile-pic > img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  max-width: 150px;
}

.google-maps {
    position: relative;
    padding-bottom: 70%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.dropdown-content li>a, .dropdown-content li>span{
    color: black;
}

.dropdown-content.active{
    min-width: fit-content;
}
.inputsNavDiv{
    width: 200px !important
}

nav ul li span:hover i{
    color: black;
}

.user-view{
    padding-top: 15%;
}

.user-icons {
    vertical-align: text-bottom;
    margin-right: 4%;
}

div.user-name {
    margin-top: 30px;
}

.select-wrapper input.select-dropdown{
    color:black;
    padding-left: 3rem;
    font-size: 1.2rem;
    display: inline;
    border: 0px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    grey;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    grey;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    grey;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    grey;
}


.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(f,F,F);
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 50px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.navf2 {
    margin-left: 3%;
    margin-right: 3%;
    width: auto;
    margin-top: -7%;
    border-radius: 100px;
    color: white;
    height: 68px;
}

.cancel {
    font-size: 15px;
    padding-right: 7px;
    padding-left: 7px;
    margin-left: 10%;
}

.iUser{
line-height: inherit;
}

.select-wrapper input.select-dropdown:disabled {
    padding-left: 0px !important;
    width: 144.5px !important;
    border-bottom: 0px;
}

 textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid black;
    box-shadow: 0 0px 0 0 black;
 }

 .side-nav.fixed {
    left: inherit;
    right: 0;
    position: fixed;
    width: 200px;
}

#info1{
    background-color: white;
    margin-top: 80%;
}

#info2{
    background-color: white;
    margin-top: 10%;
}

.go {
    color: black;
    padding: 0;
    font-weight: 400;
    font-size: 1.3rem;
    margin-left: 130%;
}

#selectNavHome{
        width: 150px !important;

}