<body id="top" class="scrollspy" ng-cloak ng-controller="appointmentsController">
    <!-- Pre Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!--Navigation-->
<div class="navbar-fixed">
        <nav id="nav_f" class="default_color" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" id="logo-container" class="brand-logo filters center valign-wrapper"><img class = "logo " src="img/logo.png"></a>
                    <ul class="left hide-on-med-and-down">
                        <li id = "openSearch">
                            <form>
                                <div  class="input-field inputsNavDiv">
                                    <input id="search" type="search" required autofocus>
                                    <label class="label-icon" placeholder = "WHAT?" for="search"><i class="material-icons">search</i></label>
                                </div>
                            </form>
                        </li>
                        <li class="hide filters">
                            <form>
                                <div class="input-field inputsNavDiv">
                                    <input id="search" type="search" placeholder = "location" required autofocus>
                                    <label class="label-icon" for="search"><i class="material-icons">location_on</i></label>
                                </div>
                            </form>
                        </li>
                        <li class="hide filters">
                            <form>
                                <div class="input-field inputsNavDiv">
                                    <input id="search" type="search" required autofocus class="form-control input-field" " ng-model="ctrl.input " ng-model-options="{ updateOn: 'blur' } " locale="ca " format="LT DD/MM" min-view="year " placeholder = "time"moment-picker="ctrl.input ">
                                    <label class="label-icon " for="search "><i class="material-icons ">access_time</i></label>
                                </div>
                            </form>
                        </li>
                       
                        <li class="hide filters">
    <form>
        <div class="input-field inputsNavDiv">
      <select>
                                <option value="0" selected="" class = "grey-text">category</option>
                                <option value="1">health</option>
                                <option value="2">beautyCare</option>
                                <option value="3">vestry</option>
                                <option value="4">restoration</option>
                                <option value="5">motor</option>
                                <option value="6">animals</option>
                                <option value="7">kindergarten</option>
                                <option value="8">other</option>
       </select>
                                    <label class="label-icon " for="search "><i class="material-icons ">dehaze</i></label>
                                </div>
                            </form>
                        </li>



                    </ul>
                        
                    <ul class="right">
                        <li><a href="#" data-activates="slide-out" class="userNav right hide-on-large-only"><i class="tiny material-icons right iUser">person</i><span onclick="openNav()"  class = "filters">Marc</span></a></li>
                    </ul>
                    <ul id="nav-mobile " class="side-nav ">
                        <li><a href="#intro ">Service</a></li>
                        <li><a href="#work ">Work</a></li>
                        <li><a href="#team ">Team</a></li>
                        <li><a href="#contact ">Contact</a></li>
                        <li><a href="https://github.com/joashp/material-design-template " target="_blank ">Download</a></li>
                    </ul>
                    <a href="# " data-activates="nav-mobile " class="button-collapse "><i class="mdi-navigation-menu "></i></a>
                </div>
            </div>
        </nav>
    </div>

    <!--Intro and service-->

    <div class="backgroundSearch">
        <div class="row all">
            <div class="row">
  
<div class="col m12 l5" ng-repeat="appointment in appointments"> <!-- aqui seria al appointment ia el id de lempresa-->
                    <div class="card horizontal">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="img/1.png">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                              <h5 class="activator"><b><a href="" class="name">{{appointment.id.name}}</a></b><button class = "btn red cancel waves-effect waves-light activator">CANCEL</button></h5>
                                <p>{{appointment.service}} | {{appointment.date}}</p>
                            </div>
                            <div class="card-action ">
                                <p>{{appointment.id.adress}}</p>
                            </div>
                        </div>

                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Are you sure?<a href="" class = "btn right cancel black">Yes</a><i href="" class = "btn cancel red right">No</i></span>
                            <p>(You will be able to make another appointment)</p>
                        </div>
                    </div>
                </div>

                
            </div>
            </div>
            </div>


    <ul id="slide-out" class="side-nav fixed show-on-large">
            <li class="backgroundImgUser">
                <div class="user-view">
                    <a href="#!user"><img class="circle responsive-img" src="img/user.jpg"></a>
                    <div class = "user-name">
                    <a href="#!marc"><span class="white-text name">Marc Rosell</span></a>
                    </div>
            </div>
            </li>
            <li class = "active"><a href="#!" class = "userPage"><i class="material-icons user-icons userPage">blur_linear</i><span class = "userPage">Appoinments</span></a></li>
            <li><a href="#!"><i class="material-icons user-icons ">settings</i><span>Configuration</span></a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a class="subheader"><i class="material-icons red-text user-icons ">exit_to_app
</i>Log Out</a></li>
        </ul>

</body>