extends ../homeLayout

block content
  body#top.scrollspy
    // Pre Loader
    #loader-wrapper
      #loader
      .loader-section.section-left
      .loader-section.section-right
    // Navigation
    if user
      .navbar-fixed
        nav#nav_f.default_color(role='navigation')
          .container
            .nav-wrapper
              a#logo-container.brand-logo.valign-wrapper.center(href='#')
                img.logo(src='img/logo.png')
              ul.left.hide-on-med-and-down
                li
                li
                  a(href='#work')
                    span How?
              ul.right.hide-on-med-and-down
                li
                  a.userNav(href='#', data-activates='slide-out', show-on-large='')
                    i.tiny.material-icons.right.iUser person
                    span.filters Marc
              ul#nav-mobile.side-nav
                li
                  a(href='#intro') Service
                li
                  a(href='#work') Work
                li
                  a(href='#team') Team
                li
                  a(href='#contact') Contact
                li
                  a(href='https://github.com/joashp/material-design-template', target='_blank') Download
              a.button-collapse(href='#', data-activates='nav-mobile')
                i.mdi-navigation-menu
    else
      .navbar-fixed
        nav#nav_f.default_color(role='navigation')
          .container
            .nav-wrapper
              a#logo-container.brand-logo.valign-wrapper.center(href='#')
                img.logo(src='img/logo.png')
              ul.left.hide-on-med-and-down
                li
                li
                  a(href='#work')
                    span How?
              ul.right.hide-on-med-and-down
                li
                  a(href='#intro')
                    span Register
                li
                  a(onclick='openNav()')
                    span Sign In
              ul#nav-mobile.side-nav
                li
                  a(href='#intro') Service
                li
                  a(href='#work') Work
                li
                  a(href='#team') Team
                li
                  a(href='#contact') Contact
                li
                  a(href='https://github.com/joashp/material-design-template', target='_blank') Download
              a.button-collapse(href='#', data-activates='nav-mobile')
                i.mdi-navigation-menu
    // Hero
    #index-banner.banner.section.no-pad-bot
      .container
        h1.text_h.center.header.cd-headline.letters.type
          span Book
          span.cd-words-wrapper.waiting
            b.is-visible.black-text  with TRYST
            b  w/ a dentist
            b  in a restaurant
            b  anywhere
            b.black-text  with TRYST
            b  for a hair cut
            b  w/ a therapist
      div
        nav.default_color.navf2(role='navigation')
          .container
            .nav-wrapper
              ul.left.hide-on-med-and-down
                form#search(action='/search', method='post')
                  li
                    .input-field.inputsNavDiv
                      input#search(type='search', name='search', required='true', autofocus='')
                      label.label-icon(placeholder='WHAT?', for='search')
                        i.material-icons search
                  li.filters
                    .input-field.inputsNavDiv
                      input#search(type='search', placeholder='location', name='location', value = '', required='', autofocus='')
                      label.label-icon(for='search')
                        i.material-icons location_on
                  li.filters
                    .input-field.inputsNavDiv
                      input#search.form-control.input-field(type='search', required='', autofocus='', ng-model='ctrl.input ', ng-model-options="{ updateOn: 'blur' } ", locale='ca ', format='LT DD/MM ', min-view='year ', placeholder='time ', moment-picker='ctrl.input ', value = '', name='time')
                      label.label-icon(for='search ')
                          i.material-icons access_time
                  li.filters
                    .input-field.inputsNavDiv#selectNavHome
                      select(name='category')
                        option.grey-text(value='', selected=' ') category
                        option(value='health') health
                        option(value='beautyCare') beautyCare
                        option(value='vestry') vestry
                        option(value='restoration') restoration
                        option(value='motor') motor
                        option(value='animals') animals
                        option(value='kindergarten') kindergarten
                        option(value='other') other
                      label.label-icon(for='search ')
                        i.material-icons dehaze
                  li
                    a(href='#', onclick="$(this).closest('form').submit(); return false;")#search.go GO!
              ul#nav-mobile.side-nav
                li
                  a(href='#intro ') Service
                li
                  a(href='#work ') Work
                li
                  a(href='#team ') Team
                li
                  a(href='#contact ') Contact
                li
                  a(href='https://github.com/joashp/material-design-template ', target='_blank ') Download
              a.button-collapse(href='# ', data-activates='nav-mobile ')
                i.mdi-navigation-menu
    .section
      .container#register
        .row#info1
          .col.s12
            h3.center.header.text_h2
              span.span_h2  find 
              |  any commerce providing your 
              span.span_h2  need 
              |  via proximity, name, category or by
              span.span_h2  the desired schedule 
              |  and 
              span.span_h2  make an online sync appointment
              span#intro.scrollspy
          .col.s12.offset-m4.m4.offset-l4.l4
            .row
              form.col.s12(action='/api/register', method = 'post')
                .row
                  .input-field.col.s6
                    input#last_name.validate(type='text', name = 'firstname')
                    label(for='last_name') First Name
                  .input-field.col.s6
                    input#last_name.validate(type='text' name = 'lastName')
                    label(for='last_name') Last Name
                .row
                  .input-field.col.s12
                    input#password.validate(type='password' name = 'password')
                    label(for='password') Password
                .row
                  .input-field.col.s12
                    input#email.validate(type='email' name = 'email')
                    label(for='email', data-error='wrong', data-success='right') Email
                button.btn-flat.waves-effect.waves-light(type='submit', name='action')
                  | Sign Up
                  i.material-icons.right done_all
    // Work
    .section
      .container#info2
        .row
          div
            .fondo.card-panel.teal.col.s3
              .rela
                h5
                  | Write in our seeker what you want, then filter by hour, localization or through your preferences
                i.material-icons.small location_searching
          .col.offset-s4.s5#work.scrollspy
            h2  
            img.queryShot(src='img/query.png ')
        .row
          .fondo2.card-panel.teal.col.offset-s1.s4
            .rela
              h5
                | Choose one of our comerces or experts, check the description, images, place or valoration
              i.material-icons.small format_line_spacing
          .col.offset-s2.s5
            h2  
            img.searchShot(src='img/search.png ')
        .row
          .fondo3.card-panel.teal.col.s3
            .rela
              h5  Go deeper and select your favourite hour through our sync calendar
              i.material-icons.medium done
          .col.offset-s4.s5
            h2  
            img.queryShot(src='img/select.png ')
    // Workwithus
    .section.scrollspy
      .container
        .row.partnering
          div
            .col.s12
              h5.center.header.text_h4
                | Do you have a comerce and are interested in join our family? Improve your efficience and boost your business by partnering with us
          .row
            .col.offset-s4.s6
              button.waves-effect.waves-light.btn.valign-wrapper.black I Want + Information
      ul#slide-out.side-nav
        li.backgroundImgUser
          .user-view
            a(href='')
              img.circle.responsive-img(src='img/user.jpg')
            .user-name
              a(href='')
                span.white-text.name Marc Rosell
        li
          a(href='/appointments')
            i.material-icons.user-icons blur_linear
            span Appoinments
        li
          a(href='/user')
            i.material-icons.user-icons settings
            span Configuration
        li
          .divider
        li
          a(href='/logout').subheader
            i.material-icons.red-text.user-icons
              | exit_to_app
            | Log Out
      #myNav.overlay
        // Button to close the overlay navigation
        a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
        // Overlay content
        .overlay-content
          div
            .container
              .row
                .col.s6
                  h5.header.text_h2.left-align
                    span.span_h2  Find 
                    |  any commerce providing your 
                    span.span_h2  need 
                    |  via proximity, name, category or by
                    span.span_h2  the desired schedule 
                    |  and 
                    span.span_h2  make an online sync appointment
                .col.s6
                  .row
                    form.col.offset-s3.s9(action='/login', method = 'post')
                      .row
                        .input-field.col.s12
                          input#email.validate(type='email' name='email')
                          label(for='email', data-error='wrong', data-success='right') Email
                      .row
                        .input-field.col.s12
                          input#password.validate(type='password' name='password')
                          label(for='password') Password
                      button.btn.black.waves-effect.waves-light(type='submit', name='action')
                        | sign in

