extends ../layout

block content
  body#top.scrollspy
    // Pre Loader
    #loader-wrapper
      #loader
      .loader-section.section-left
      .loader-section.section-right
    // Navigation
    .navbar-fixed
      nav#nav_f.default_color(role='navigation')
        .container
          .nav-wrapper
            a#logo-container.brand-logo.valign-wrapper.center(href='#')
              img.logo(src='img/logo.png')
            ul.left.hide-on-med-and-down
              li
              li
                a(href='#work')
                  span How?
            ul.right.hide-on-med-and-down
              li
                a(href='#intro')
                  span Register
              li
                a(href='#work')
                  span Sign In
            ul#nav-mobile.side-nav
              li
                a(href='#intro') Service
              li
                a(href='#work') Work
              li
                a(href='#team') Team
              li
                a(href='#contact') Contact
              li
                a(href='https://github.com/joashp/material-design-template', target='_blank') Download
            a.button-collapse(href='#', data-activates='nav-mobile')
              i.mdi-navigation-menu
    // Hero
    #index-banner.section.no-pad-bot
      .container
        h1.text_h.center.header.cd-headline.letters.type
          span Appoint
          span.cd-words-wrapper.waiting
            b.is-visible  with TRYST
            b  in a restaurant
            b  with a dentist
            b  anywhere
            b  with TRYST
            b  for a hair cut
            b  w/ a therapist
      div
        nav.default_color.navf2(role='navigation')
          .container
            .nav-wrapper
              ul.left.hide-on-med-and-down
                li
                  form
                    .input-field.inputsNavDiv
                      input#search(type='search', required='', autofocus='')
                      label.label-icon(placeholder='WHAT?', for='search')
                        i.material-icons search
                li.filters
                  form
                    .input-field.inputsNavDiv
                      input#search(type='search', placeholder='location', required='', autofocus='')
                      label.label-icon(for='search')
                        i.material-icons location_on
                li.filters
                  form
                    .input-field.inputsNavDiv
                      input#search.form-control.input-field(type='search', required='', autofocus='', ng-model='ctrl.input ', ng-model-options="{ updateOn: 'blur' } ", locale='ca ', format='LT DD/MM ', min-view='year ', placeholder='time ', moment-picker='ctrl.input ')
                      label.label-icon(for='search ')
                        i.material-icons access_time
                li.filters
                  form
                    .input-field.inputsNavDiv
                      select
                        option.grey-text(value='0 ', selected=' ') category
                        option(value='1 ') health
                        option(value='2 ') beautyCare
                        option(value='3 ') vestry
                        option(value='4 ') restoration
                        option(value='5 ') motor
                        option(value='6 ') animals
                        option(value='7 ') kindergarten
                        option(value='8 ') other
                      label.label-icon(for='search ')
                        i.material-icons dehaze
              ul#nav-mobile.side-nav
                li
                  a(href='#intro ') Service
                li
                  a(href='#work ') Work
                li
                  a(href='#team ') Team
                li
                  a(href='#contact ') Contact
                li
                  a(href='https://github.com/joashp/material-design-template ', target='_blank ') Download
              a.button-collapse(href='# ', data-activates='nav-mobile ')
                i.mdi-navigation-menu
    .section.scrollspy
      #intro.container
        .row
          .col.s12
            h2.center.header.text_h2
              span.span_h2  find 
              |  any commerce providing your 
              span.span_h2  need 
              |  via proximity, name, category or by
              span.span_h2  the desired schedule 
              |  and 
              span.span_h2  make an online sync appointment
          .col.s12.offset-m4.m4.offset-l4.l4
            .row
              form.col.s12(action='/home', method = 'post')
                .row
                  .input-field.col.s6
                    input#last_name.validate(type='text', name = 'name')
                    label(for='last_name') First Name
                  .input-field.col.s6
                    input#last_name.validate(type='text' name = 'lastName')
                    label(for='last_name') Last Name
                .row
                  .input-field.col.s12
                    input#password.validate(type='password' name = 'password')
                    label(for='password') Password
                .row
                  .input-field.col.s12
                    input#email.validate(type='email')
                    label(for='email', data-error='wrong', data-success='right', name = 'email') Email
                button.btn-flat.waves-effect.waves-light(type='submit', name='action')
                  | Sign Up
                  i.material-icons.right done_all
    // Work
    .section.scrollspy
      .container
        h1#work.header.text_b
        .row
          div
            .fondo.card-panel.teal.col.s3
              .rela
                h5
                  | Write in our seeker what you want, then filter by hour, localization or through your preferences
                i.material-icons.small location_searching
          .col.offset-s4.s5
            h2  
            img.queryShot(src='img/query.png ')
        .row
          .fondo2.card-panel.teal.col.offset-s1.s4
            .rela
              h5
                | Choose one of our comerces or experts, check the description, images, place or valoration
              i.material-icons.small format_line_spacing
          .col.offset-s2.s5
            h2  
            img.searchShot(src='img/search.png ')
        .row
          .fondo3.card-panel.teal.col.s3
            .rela
              h5  Go deeper and select your favourite hour through our sync calendar
              i.material-icons.medium done
          .col.offset-s4.s5
            h2  
            img.queryShot(src='img/select.png ')
    // Workwithus
    .section.scrollspy
      .container
        .row.partnering
          div
            .col.s12
              h5.center.header.text_h4
                | Do you have a comerce and are interested in join our family? Improve your efficience and boost your business by partnering with us
          .row
            .col.offset-s4.s6
              button.waves-effect.waves-light.btn.valign-wrapper.black I Want + Information
    //
      Parallax
      <div class="parallax-container ">
      <div class="parallax "><img src="img/parallax1.png "></div>
      </div>
